.homet{
    background-color:#4e1e0d;
    padding:50px;
    text-align:center;
    color: #2196f3;
    border-radius:87px;

}
.viewt{
    background-color:green;
    padding:4px;
    text-align:center;
    color:white;
    border-radius:5px;
}