{% extends 'base.html' %}

{% block title %} Add-Doctor {% endblock title %}

{% block body %}

{% if messages %}
{% for message in messages %}
<script>
alert('{{message}}');
</script>
{% endfor %}
{% endif %}

<div class="container">
<div class="row">
<div class="col-md-5 offset-3 mt-3 mb-2"> <h3 style="background-color:green; padding:4px; text-align:center;color:white;border-radius:5px;"> Add Doctor </h3> </div>
<form action="" method="post" class="shadow p-5">
{% csrf_token %}
<label>Doctor Name:</label>
<input type="text" class="form-control" name="name" required placeholder="Enter Doctor Name">
<label> Doctor Code: </label>
<input type="text" class="form-control" name="code" required placeholder="Enter Doctor Code">
<label> Mobile Number: </label>
<input type="text" class="form-control" name="mobile" required placeholder="Enter Doctor Mobile Number">
<label> Doctor Location: </label>
<input type="text" class="form-control" name="location" required placeholder="Enter Doctor Location">
<br>
<input type="submit" value="save" class="form-control btn btn-primary">
</form>
</div>
</div>

{% endblock body %}