{% extends 'base.html' %}

{% block title %} Update-Medicine {% endblock title %}

{% block body %}

{% if messages %}
{% for message in messages %}
<script>
alert('{{message}}');
</script>
{% endfor %}
{% endif %}

<div class="container">
<div class="row">
<div class="col-md-5 offset-3 mt-3 mb-2"> <h3 style="background-color:green; padding:4px; text-align:center;color:white;border-radius:5px;"> Update Medicine </h3> </div>
<form action="" method="post" class="shadow p-5">
{% csrf_token %}
<label>Medicine Name:</label>
<input type="text" class="form-control" name="name" value="{{medicine.Name}}" required>
<label>Medicine Code:</label>
<input type="text" class="form-control" name="code" value="{{medicine.Code}}" readonly>
<label> Company Name: </label>
<input type="text" class="form-control" name="cname" value="{{medicine.Company_Name}}" required>
<br>
<input type="submit" value="save" class="form-control btn btn-primary">
</form>
</div>
</div>

{% endblock body %}