{% extends 'base.html' %}

{% block title %} Edit-Patient {% endblock title %}

{% block body %}

{% if messages %}
{% for message in messages %}
<script>
alert('{{message}}');
</script>
{% endfor %}
{% endif %}

<div class="container">
<div class="row">
<div class="col-md-5 offset-3 mt-3 mb-2"> <h3 style="background-color:green; padding:4px; text-align:center;color:white;border-radius:5px;"> Edit Patient </h3> </div>
<form action="" method="post" class="shadow p-5">
{% csrf_token %}
<label>Patient Name:</label>
<input type="text" class="form-control" name="name" value="{{patient.Name}}" required>
<label> Mobile Number: </label>
<input type="text" class="form-control" name="mobile" value="{{patient.Mobile_No}}" required>
<label> Patient Location: </label>
<input type="text" class="form-control" name="location" value="{{patient.Location}}" required>
<br>
<input type="submit" value="save" class="form-control btn btn-primary">
</form>
</div>
</div>

{% endblock body %}